<div class="card">
  <div class="card-header">
    <% if post.photo == nil %>
      <%= cl_image_tag post.photo, class: "card__image" %>
    <% else %>
      <%= image_tag 'https://static.pexels.com/photos/17663/pexels-photo.jpg', class: "card__image" %>
    <% end %>
    <h2 class="card__title"><%= post.title %></h2>
  </div>
  <div class="card__text">
    <p><%= sanitize post.content %></p>
  </div>
  <div class="share">
    <p class="text-center">SHARE</p>
  </div>
  <% if current_user && current_user.admin == true %>
    <%= link_to edit_post_path(post) do %>
      <i class="fa fa-pencil" aria-hidden="true" id="pencil"></i>
    <% end %>
  <% end %>
</div>


