<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <h1>New Post</h1>
      <%= simple_form_for(@post) do |f| %>
        <%= f.input :title, placeholder: "Title", label: false %>
        <!-- <input name="content" id="post_content_trix_input_post" placeholder="HTML content"> -->
        <%= f.trix_editor :content, class: "trix-content", placeholder: "text here..." %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
